* {
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    color: rgb(187, 187, 187);
    text-align: center;
}
#image{

}
#Title {
    margin: 50px;
}

a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: larger;
}

h3 {
    font-weight: normal;
    width: 40%;
    margin: 450px;
    margin-top: 0px;
    margin-bottom: 100px;
    
}
.url1 {
    width: 850px;
}

.about{
    margin: 0 auto;
    text-align: left;
    width: 30%;
}
