* {
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    color: rgb(187, 187, 187);
    text-align: center;
}
#image{

}
#Title {
    margin: 50px;
}

a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: larger;
}

h3 {
    font-weight: normal;
}
.url1 {
    width: 850px;
}